<!doctype html>
<html lang="en">
<head>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b28b7d5db1.js"></script>
    <link href="/public/reset.css" rel="stylesheet" />
    <link href="/public/styles.css" rel="stylesheet" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1 class="title"><strong>Pug</strong>Check</h1>
    <div class="search-container">
      <% include partials/search-form.ejs %>
    </div>
    <div class="character-info">
      <p class="character-name"><%= info.name %></p>
      <img src="/public/images/<%= info.class %>.png" alt=<%= info.class %> class="class-icon <%= info.class %>" />
      <div class="item-level-container">
        <p class="item-level">
          Item Level: <span class="item-level"><%=info.itemLevel  %></span>
        </p>
      </div>
    </div>

    <h3>Raid Progression</h3>
      <!-- Setting the difficulty to the highest with progress -->
      <% var difficulty = [], progress = [], kills; %>
      <% if(info.progress[0].mythicProgress > 0) { %>
        <% difficulty = ["Mythic", "Heroic"]; %>
        <% progress = [info.progress[0].mythicProgress, info.progress[0].heroicProgress]; %>
      <% } else if(info.progress[0].heroicProgress > 0) { %>
        <% difficulty = ["Heroic", "Normal"]; %>
        <% progress = [info.progress[0].heroicProgress, info.progress[0].normalProgress]; %>
      <% } else if(info.progress[0].normalProgress > 0) { %>
        <% difficulty = ["Normal", "Looking For Raid"]; %>
        <% progress = [info.progress[0].normalProgress, info.progress[0].lfrProgress]; %>
      <% } else if(info.progress[0].lfrProgress > 0) { %>
        <% difficulty = ["Looking For Raid"]; %>
        <% progress = [info.progress[0].lfrProgress]; %>
      <% } else { %>
        <% difficulty = ["Looking For Raid"]; %>
        <% progress = [info.progress[0].lfrProgress]; %>
      <% } %>
      <% for(var i = 0; i < difficulty.length; i++) { %>
      <div class="raid-instance">
        <div class="raid-instance-title">
          <span class="collapse fa fa-plus"></span>
          <h5 class="instance-name"><%= info.progress[0].name %> (<%= progress[i] %>/<%= info.progress[0].totalBosses %>)</h5>
          <p class="difficulty"><%= difficulty[i] %></p>
          <p class="logs-header">
            Logs
            <span class="fa fa-link"></span>
          </p>
        </div>
        <ul class="raid-bosses hidden">
          <% for(var b = 0; b < info.progress[0].bosses.length; b++) { %>
            <% if(difficulty[i] == "Mythic") { %>
              <% kills = info.progress[0].bosses[b].mythicKills; %>
            <% } else if(difficulty[i] == "Heroic") { %>
              <% kills = info.progress[0].bosses[b].heroicKills; %>
            <% } else if(difficulty[i] == "Normal") { %>
              <% kills = info.progress[0].bosses[b].normalKills; %>
            <% } else if(difficulty[i] == "Looking for Raid") { %>
              <% kills = info.progress[0].bosses[b].lfrKills; %>
            <% } %>
            <li>
              <% if(kills > 0) { %>
                <span class="killed-box fa fa-check-square-o"></span>
              <% } else { %>
                <span class="killed-box fa fa-square-o"></span>
              <% } %>
              <%= info.progress[0].bosses[b].name %>
              <% if(info.progress[0].bosses[b].warcraftLogs && difficulty[i] == info.progress[0].bosses[b].highestDifficulty) { %>
                <a href=<%= info.progress[0].bosses[b].reportUrl %> class="warcraftlog-report fa fa-link"></a>
              <% } %>
            </li>
          <% } %>
        </ul>
      </div>
      <% } %>
    </div>

    <% include partials/footer.ejs %>
  </div>

    <script src="/public/app.js"></script>
</body>
</html>
